.banner-core {
  background-image: linear-gradient(rgba(0, 0, 0, 0.51),rgba(0, 0, 0, 0.73)), url(https://cdn.discordapp.com/attachments/337209210594918404/581731257298321408/banner-background.jpg);
  background-repeat: none;
  background-size: cover;
  color: white;
  box-shadow: 0px 0px 3px black;
}

.banner-core h1 {
  text-shadow: 0px 2px black;
}
